@font-face {
  font-family: 'Hello Paris';
  src: url('/fonts/HelloParisSerif-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons';
  src: url('/fonts/TheSeasons-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'The Seasons Light';
  src: url('/fonts/TheSeasons-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir Light';
  src: url('/fonts/Agrandir-Grandlight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Agrandir';
  src: url('/fonts/Agrandir-Regular.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}